# LARAVEL APPLICATION CONFIGURATION 
 
# APP CONFIG
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:thkR0speX/6/CBtpQSsN7GR2PAaDr/t+gQG3DrJD9Pg=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
 
# LOGGING
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
 
# PHP
PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12
 
# DATABASE (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=database
DB_USERNAME=postgres
DB_PASSWORD=admin
 
# SESSION / SANCTUM
SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
 
# CACHE / QUEUE
CACHE_STORE=database
QUEUE_CONNECTION=database

# FILESYSTEM / BROADCAST
FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log
 
# REDIS
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
 
# MAIL
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
 
# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
 
# FRONTEND / VITE
VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER=false
VITE_BASE_URL=http://localhost/profesionalizacion-imss-bienestar/public
VITE_DEV_SERVER_HOST=127.0.0.1

# CORS
CORS_ALLOWED_ORIGINS=http://localhost
CORS_SUPPORTS_CREDENTIALS=false
CORS_MAX_AGE=0

# CLOUD / ALFRESCO
ALFRESCO_URL=http://127.0.0.1:8080
ALFRESCO_URL_ADD=http://127.0.0.1:8080/alfresco/api/-default-/public/alfresco/versions/1/nodes/{folderId}/children
ALFRESCO_URL_DOWNLOAD=http://127.0.0.1:8080/alfresco/api/-default-/public/alfresco/versions/1/nodes/{node-id}/content
ALFRESCO_SEE=http://127.0.0.1:8080/alfresco/service/api/node/content/workspace/SpacesStore/{uuid}
ALFRESCO_DELETE=http://127.0.0.1:8080/alfresco/api/-default-/public/alfresco/versions/1/nodes/{uuid}
ALFRESCO_USER=admin
ALFRESCO_PASS=admin
 
# MAIL CONFIG
MAIL_HOST=webmail.imssbienestar.gob.mx
MAIL_PORT=587
MAIL_USERNAME=soporte_rh
MAIL_PASSWORD=admin
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=soporte_rh@imssbienestar.gob.mx
MAIL_FROM_NAME="SOPORTE_IMSS_BIENESTAR"

# FILE
DESKTOP_UPLOAD_PATH=G:\PRUEBA




